**This notebook is though to validate the correctness of the aggregation algorithm based on an example.**

In [114]:
import pandas as pd
from Dataset import Dataset
from TRMM import TRMM

# force autoreload of external modules on save
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [115]:
unaggregated = TRMM.load_dataset([1998], [3], aggregation_resolution=None, version='v3')
restricted = unaggregated.loc[(slice(4.125, 4.625), slice(61.125, 61.625)), 891216000:891302400]
restricted

> Loading from cache...

              891216000.0  891302400.0
lat   lon
4.125 61.125     3.810000         6.96
      61.375    12.120000         3.81
      61.625    15.000000        14.61
4.375 61.125    15.119999         9.84
      61.375    22.170000         4.29
      61.625    20.699999        16.74
4.625 61.125    28.829998         4.05
      61.375    26.639999         5.28
      61.625    24.209999        10.83

In [116]:
restricted.sum()

891216000.0    168.599994
891302400.0     76.410000
dtype: float64

In [117]:
Dataset.aggregate_cells(restricted, resolution=0.75, method='sum', verbose=True)

data resolution 0.25
latitudes (4.125, 4.625) longitudes (61.125, 61.625)
lat_range [ 4.375] lon_range [ 61.375]

                     891216000  891302400
latitude longitude
4.375    61.375     168.599994      76.41

In [118]:
restricted = unaggregated.loc[(slice(4.125, 4.875), slice(61.125, 61.875)), 891216000:891302400]
restricted.sum()

891216000.0    300.059992
891302400.0    135.689999
dtype: float64

In [119]:
Dataset.aggregate_cells(restricted, resolution=1.0, method='sum', verbose=True)

data resolution 0.25
latitudes (4.125, 4.875) longitudes (61.125, 61.875)
lat_range [ 4.5] lon_range [ 61.5]

                     891216000   891302400
latitude longitude
4.5      61.5       300.059992  135.689999